@import '../partials/_mainPartial.scss';

/* 
 * Common Utility @ common-generalUtil-util.scss
 * - for general purpose
 */

/* 3-dots for hidden/overflowed text */
.text-overflow-ellipsis {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Stretch flex item */
.flexStretch__One {
    flex: 1;
}


