@import '../partials/_mainPartial.scss';

/* 
 * Main Header @ mainHeader-header-common
 */

.app-header {
    height: 40px;
    
    color: $color-primary-light;
    background-color: $color-primary-dark;

    padding: 15px 25px;
}