@import '../partials/_mainPartial.scss';

/* 
 * Main Footer @ mainFooter-footer-common
 */

.app-footer {    
    color: $color-primary-light;
    background-color: $color-primary-dark;

    padding: 15px 25px;
}