/* 
 * Site color palette @ _color.scss
 */

// Primary Color
$color-primary: #03A9F4;
$color-primary-light: #B3E5FC;
$color-primary-dark: #0288D1;

// Secondary Color
//...

// Accent Color
$color-accent: #009688;

// Text Color
$textColor-primary: #212121;
$textColor-secondary: #757575;
$textColor-icon: #FFFFFF;

// Divider Color
$dividerColor-primary: #BDBDBD;

// Color for links
$linkColor-primary-light: $color-primary-light;
$linkColor-primary-dark: $color-primary-dark;

// Color for differentiating even rows
$custom-evenRows-lightgrey: rgba(239, 239, 239, 0.75); // #EFEFEF

// Color for content heading (much lighter grey)
$custom-contentHeader-lightgrey: #8f8f9b;